.navbar{
    display: flex;
    position: sticky;
    align-items: left;
    justify-content: left;
    top: 10px;
}
.nav-list{
    width:50%;
    display: flex;
}
.nav-list li{
    list-style: none;
    padding: 10px 10px;
}
.background{
    background-color: rgb(164, 174, 178);
    background-blend-mode: darken;
    background-size: cover;
}