@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
h1 {
  text-align: center;
}
.navbar{
    border-radius: 20px;
    padding: 4px 10px;
    display: flex;
    justify-content: left;
    top: 10px;
}
.nav-list{
    display: flex;
    justify-content: center;
}
.nav-list li{
    list-style: none;
    padding: 10px 7px;
}
.background{
    background-blend-mode: darken;
    background-size: cover;
}
body{
    background-color: rgb(238, 236, 236);
    background-image: url("./documents/banner.png");
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    color: rgb(197, 197, 197);    
}
.cadre{
    margin: auto;
    background-color: rgba(255, 255, 255, 0.263);
    width: 800px;
    padding: 32px;
    border-radius: 20px;
    position: relative;
}
.image-ronde{
    width : 105px; height : 105px;
    border: none;
    -moz-border-radius : 75px;
    -webkit-border-radius : 75px;
    border-radius : 75px;
    position: absolute;
    top: 5.5px;
    right: 30px;
}
.btn, .btn2 {
    display: inline-block;
    padding: 10px 10px;
    border-radius: 25px;
    text-decoration: none;
    color: #ffffff;
    transition: background-color 0.3s ease;
    margin-right: 10px;
  }  
  .btn:hover {
    background-color: rgb(0, 0, 0);
  }
  .btn2:hover {
    background-color: rgb(200, 216, 231);
  }
  
  nav {
    text-align: center;
    margin-bottom: 20px;
  }
  .slam {
    float: left;
    width: 50%;
  }
  
  .sisr {
    float: right;
    width: 50%;
  }
.retour:hover{
  transform: scale(1.1);
}
  @media only screen and (max-width: 600px) {
    .btn {
      display: block;
      margin-bottom: 10%;
    }
  }
  @media only screen and (min-width: 600px) {
    .small {
      font-size: 0.8em;
    }
  }
  
  @media only screen and (min-width: 768px) {
    .medium {
      font-size: 1em;
    }
  }
  
  @media only screen and (min-width: 992px) {
    .large {
      font-size: 1.2em;
    }
  }  
  @media only screen and (max-width: 480px) {
    .cadre {
      width: 90%;
    }
  }
  form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  input[type="text"] {
    width: 500px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    font-size: 18px;
  }
  
  button[type="submit"] {
    width: 100px;
    height: 40px;
    margin-left: 10px;
    border: none;
    border-radius: 20px;
    background-color: red;
    color: #fff;
    font-size: 18px;
  }  
  .nav-list li img[type="linkedin"] {
    margin: 10px;
  }
  .Veille1, .Veille2 {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 55px;
    color: black;
  }
  
  .Veille1 h1, .Veille2 h1 {
    font-size: 28px;
    margin-bottom: 10px;
  }
  
  .Veille1 p, .Veille2 p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .Veille1 hr, .Veille2 hr {
    border: 0;
    height: 1px;
    background-color: #ccc;
    margin: 20px 0;
  }
  .Veille1 {
    background-color: #f2f2f2;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .Veille2 {
    background-color: #f2f2f2;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  
  
  